<div class="register-container">
  <h2>Sign Up</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label for="register_name">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter username" formControlName="username">
    @if (username?.touched && username?.errors?.['required']) {
        <span class="alert alert-danger mt-1 d-block">
            Username cannot be empty
        </span>
    }
    </div>
    <div class="form-group">
      <label for="register_password">Password</label>
      <input type="password" class="form-control" id="register_password" placeholder="Password" formControlName="password">
      @if (password?.touched && password?.errors?.['required']) {
          <span class="alert alert-danger mt-1 d-block">
              Password cannot be empty
          </span>
      }
      @if (password?.touched && password?.errors?.['minlength']) {
        <span class="alert alert-danger mt-1 d-block">
            Password must be at least 5 characters long
        </span>
      }
    </div>
  
  @if (errorMessage) {
        <div class="alert alert-primary" role="alert">
            {{errorMessage}} !! Try sign-in
        </div>
  }
  <button type="submit" class="btn btn-primary">{{loading? 'Registering':'Register'}}</button>
  </form>

</div>
