<div class="poll-card-wrapper">
  <div class="poll-card card shadow-sm p-3 mb-3 rounded">

    @if (!editMode && !extendMode) {
      <h5 class="fw-semibold">{{ poll?.question }}</h5>
      <p class="text-muted small mb-2">Created on {{ poll?.startTime | date: 'mediumDate' }}</p>
      <p class="text-muted small mb-2">Created By {{ poll?.createdByUsername }}</p>
      <p class="fw-semibold mb-2"
         [ngClass]="{
          'text-success': status === 'Live',
          'text-warning': status === 'Yet to Open',
          'text-danger': status === 'Poll has ended'
        }">
        Status: {{ status }}
      </p>

      <div class="d-flex justify-content-end gap-2 mb-2">
        <button class="btn btn-outline-primary btn-sm" (click)="enableEdit()">Edit</button>
        <button class="btn btn-outline-success btn-sm" (click)="enableExtend()">Extend</button>
        <button class="btn btn-outline-danger btn-sm" (click)="onDelete()">Delete</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="onViewResults()">
          {{ showChart ? 'Hide Results' : 'View Results' }}
        </button>
      </div>
    }

    @else if (editMode) {
      <app-edit-poll
        [poll]="poll"
        (pollUpdated)="onEdit()"
        (cancel)="cancelEdit()">
      </app-edit-poll>
    }

    @else if (extendMode) {
      <app-extendpoll
        [pollId]="poll?.id!"
        [currentEndTime]="poll?.endTime!"
        [extensionCount]="poll?.extensionCount || 0"
        [maxExtensions]="poll?.maxExtensions || 0"
        (onExtended)="onExtensionComplete()"
        (cancel)="cancelExtend()">
      </app-extendpoll>
    }

    @if (showChart) {
      <app-view-result [poll]="poll"></app-view-result>
    }

  </div>
</div>
